/*SCSS*/
body {
  background-color: #dcbb9a; }

p {
  line-height: 1.3;
  text-align: left; }

#content {
  background: #ffffff;
  display: block;
  width: 1000px;
  padding: 10px 20px 10px 20px;
  margin: auto; }

h1, h2 {
  color: #893c00; }

h1 {
  text-align: center; }

h2 {
  text-align: left; }

.img-left {
  float: left;
  margin-right: 19px;
  border: solid 2px #893c00;
  padding: 2px; }

.img-right {
  float: right;
  margin-left: 31px;
  border: solid 2px #893c00;
  padding: 2px; }

.brief {
  float: left;
  margin-right: 20px;
  display: block;
  background: #fadcba;
  width: 391px;
  height: 56px;
  padding: 23px 30px 28px 19px; }

caption {
  text-align: right; }

table {
  line-height: 2.5;
  border-collapse: collapse; }

th {
  border: 0px solid #e0e0e0;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 0 0 19px;
  background: white;
  border-left: 2px solid white; }

td {
  padding: 0 0 0 19px;
  border-bottom: 2px solid #e0e0e0; }

.PIB th {
  color: #808080;
  width: 450px;
  height: 25px;
  background: white; }

.form1 {
  display: inline-block; }

form input {
  border: solid #e0e0e0;
  width: 450px;
  height: 25px; }

.mail {
  width: 910px; }

.number {
  width: 910px; }

.button {
  height: 43px;
  width: 240px;
  border: 2px solid #3d70a1;
  background: white;
  cursor: pointer; }

textarea {
  width: 91%; }

.clr_mod > input {
  display: inline;
  width: 80px;
  height: 25px;
  cursor: pointer;
  color: black;
  border: 0px solid; }

div > input {
  cursor: pointer; }
