$bg_color:#dcbb9a;
$h_color: #893c00;
$bolder_img_color:#893c00;
$bg_content:#ffffff;
$brief_color:#fadcba;
$th_color:#e0e0e0;
$td_color:#e0e0e0;
$th_bg:white;
$td_bg:#e0e0e0;
$t_head_color:#808080;
$bg_form:#e0e0e0;
$button_clr:#3d70a1;
