$bg_color:#325b84;
$h_color: #ebff00;
$bolder_img_color:#ebff00;
$bg_content:#4e4e4e;
$brief_color:#c6c626;
$th_color:#e0e0e0;
$td_color:#e0e0e0;
$th_bg:#c6c626;
$td_bg:#e0e0e0;
$t_head_color:#00ffce;
$bg_form:#e0e0e0;
$button_clr:#c6c626;
$txt_color:white;